/* [SITE WIDE] */
html, body {
  font-family: arial, sans-serif;
}
input[type=button] {
  background: #ba3535;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 2px 1px;
}

/* [USER LIST] */
#f-table {
  min-width: 300px;
  max-width: 400px;
  border-collapse: collapse;
}
#f-table tr:nth-child(odd) {
  background-color: #f2f2f2
}
#f-table td {
  padding: 10px;
}
#f-table div.uname {
  font-weight: bold;
}
#f-table div.urs {
  font-size: 0.9em;
  color: #777;
}
#f-table td.ubtn {
  text-align: right;
}